.image {
    background-image: url(../images/stock.jpg); 
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ccc;
    width: 100hv;
    height: 90%;
}

.container {
    padding-top: 30px;
    padding-bottom: 50px;
}

.btn-join {
    float: right;
    margin-top: 60vh;
    padding-right: 14%
}

.sticky {
    float: left;
    position: fixed;
    top: 0;
    margin-top: 50vh;
    text-align: center;
}

.sticky a {
    background-color: blueviolet;
    width:100%;
    padding: 16px;
    float: left;
    overflow: hidden;
}