{% extends 'base/base.html' %}

        {% block content %}
        <div class="container">
            <h1>Calendar</h1><br/>
            <div class="row">
            {% for post in posts %}
                <div class="col-md-3 bg-light card">
                    <div class="card-header bg-light">
                        {% if user.is_authenticated %}
                        <a class="btn btn-default fa fa-trash trash-button" href="{% url 'calendar_remove' pk=post.pk %}"></a>
                        {% endif %}
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.start_time|date:'d M Y' }} to {{ post.end_time|date:'d M Y' }}</p>
                    </div>
                    {% if post.comments != null %}
                    <div class="card-body">
                        <p class='comment'>{{ post.comments }}</p>
                        {% if post.URL != null %}
                        <small>Click <a href="{{ post.URL }}" target="_blank">here</a> for more information</small>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            {% empty %}
            <p>There are no current calendar events sceduled</p>
            {% endfor %}
            </div>
        </div>
        {% endblock %}