{% extends 'base/base.html' %}

        {% block content %}
        <div class="container">
            <p>Membership Terms and Guidelines<br/>
            Version 1.2 (Web version)<br/>
            Tennis for Everyone</p>
            
            <h1>Quick start guide</h1>
            <h2>Welcome to NTC!</h2>
            <p>NTC welcomes you on being a member of Nelspruit Tennis Club. We trust that you will feel
            at home and enjoy being part of our tennis family. We invite you to enjoy your tennis in a
            fun and happy atmosphere.</p>
            
            <p>Situated in the heart of Clubview, within a public park area, Clubview Tennis Club (CTC) is
            quiet, away from traffic and yet easily accessible from the N1 highway and Old
            Johannesburg Road.</p>
            
            <p>CTC offers Tennis for Everyone, no matter the level of playing ability. In addition, CTC
            offers professional tennis coaching for those wanting to improve their tennis and for the
            more competitive tennis player.</p>
            
            <p>We welcome players of all ages and from all sections of the community. CTC maintains a
            balance between social and competitive play as each member has a special quality to offer
            at CTC.</p>
            
            <h2>Playing times and clubhouse hours</h2>
            <p>While members are welcome to play at all times, there are a number of activities at the club,
            both during the week and weekend, which take priority.</p>
            
            <p>At the following times, there is organised social play for members:
                <ul>
                    <li>Saturdays: From 13:00 until we run out of players.</li>
                    <li>Saturday: From 13:00 until late afternoon. Full members may participate.</li>
                </ul>
            </p>
            
            <p>There is no need to make an appointment or organise anything. Just arrive and participate.
            A member of the Management Committee will be present and assist in setting up playing
            teams and answer any questions you may have.</p>
            
            <p>During the week, some of the courts are reserved for coaching.
            Other courts are available to all members on a first come, first serve basis.</p>
            
            <p>The clubhouse (with bathroom facilities) will be open during official club activities and
            generally also when coaching is taking place.</p>
            
            <p>Official Clubhouse times
            
            Mondays - Thursday 11h00 - 18h00 
            Satuyrdays - 11h00 - 18h00 </p>
            
            <h2>Lights</h2>
            <p>There are 4 courts under lights. Full Members may play on these courts. Light keys are available for purchase at R50</p>
            
            <h2>Balls</h2>
            <p>Balls are available for purchase at the club. </p>
            
            <p>New balls are made available for full members nn Saturdays and Wednesdays with organised play. </p>
            
            <p>Second hand balls are available at the clubhouse for play on any other day. Please return after you are done playing. 
            There is a hole in the kitchen door should teh kirchen be closed. </p>
            
            <p>Wednesday evening social has an allocation of new balls and from time to time will also use
            good used tennis balls.</p>
            
            <h2>Visitors</h2>
            <p>We welcome visitors to the club.
            There is a R30 visitor’s fee.</p>
            
            <p>Non-members visiting the club for more than 3 times must apply for full membership </p>
            
            <h2>Website, social media and news</h2>
            <p>Members are encouraged to visit the NTC website www.NTC.co.za and like the
            NTC Facebook page (fb/nelspruit tennis club). All news, events and information is updated on the
            website and Facebook.</p>
            
            <p>Information can be sent to info@NTC.co.za</p>
            
            <h2>Stringing</h2>
            <p>No need to drive to some distant racquet stringing shop. Stringing is available at Dawie Visser and Echard van der Linde
            CTC. Members do receive a discounted rate.<br/>
            
            Contact Dawie at _______________<br/>
            Contact Echard at ________________</p>
            
            <h2>Membership and affiliation fees</h2>
            <p>NTC is affiliated to Tennis South Africa (TSA), Mpumalanga Tennis Association and
            Lowveld Tennis. The respective affiliation fees are payable upon a separate invoice
            and in advance.<br/>
            TSA: R350<br/>
            MPUTA: R120<br/>
            LVTA: R30</p>
            
            <p>NTC Membership fees are as follows and we try to cater for as many options possible:
            Membership Type Monthly Fee<br/>
            Full Member R150 per month</p>
            
            <p>Visit our website for more information about membership types and payment options.</p>
            
            <h2>NTC management committee</h2>
            <p>The current NTC Management Committee is as follows:<br/>
            Wynand Le Roux(Chairperson)(chairperson@NST.co.za)<br/>
            Teddy Ndlazi (Vice Chairperson)<br/>
            Mari Le Roux(Secretary)<br/>
            Conrad Le Roux<br/>
            Joseph Van Der Merwe<br/>
            Wiseman Nkambule</p>
            
            <h2>Coaching</h2>
            <p>The club strongly supports coaching for all members and particularly for junior players. CTC
            has a partnership with Dawie Visser Tennis Academy and VDL Tennis Academy to run the NTC Coaching division.
            Please consult the website for all information pertaining to coaching and the various
            programmes.</p>
            
            <h2>More information and enquiries</h2>
            <p>Website:<br/>
            www.NTC.co.za</p>
            
            <p>Facebook:<br/>
            www.facebook.com/NelspruitTennisClub</p>
            
            <p>General Enquiries:<br/>
            info@NTC.co.za</p>

            <h1>Terms</h1>
            <ol>
                <li>I state that I have fulfilled all my financial duties towards my previous Club.</li>
                <li>I have never been discharged for misbehaviour or any other reason by previous clubs.</li>
                <li>I undertake to:
                    <ul>
                        <li>Obey the Rules and Regulations of the Club until I hand in my written resignation;</li>
                        <li>To give written notice of any change in address;</li>
                    </ul>
                </li>
                <li>Enclosed herewith my membership fees, which include the following.</li>
                Joining fee: 					R  50.00
                Membership Fees per month: 			R 150.00
                Lowveld Tennis Association: 			R   30.00
                Affiliation MPU: 				R 120.00
                Tennis South Africa: 				R 300.00                                                                                                      
                <li>Club Bank Account: ABSA, Nelspruit. Cheque Acc: 1070-590-219   Code: 334-252</li>
                <li>I take notice that Club accounts will only be send out on 30 April and 30 September and that payments must be made within 30 days.</li>
                <li>Once your payments are made, you will receive confirmation of your affiliation and may only then start using the facilities as a member. 
                    Please note that visitor’s fees are applicable up to the date where confirmation of affiliation is received. </li>
                <li>I further agree to abide by the Club’s Constitution, rules and policies of which a copy is attached hereto. </li>
            </ol>
        </div>
        {% endblock %}
